
<html>
<body id="home-body">


  <!-- Adding navbar here -->

  



  <!-- Adding jumbotron here -->

	<div class="container">   	
    	<div class="row">
    		<div class="col-lg-12">
		      <div class="jumbotron jumb-image">
		      	<div id = "content">
		        
			        <h1 id="size-road">Roadster</h1>
			        <h3>Where new journey begins</h3>
			        <button class="btn btn-default "><%= link_to 'Get started',posts_path, class: "link-style" %></button>
		     	</div>
		     </div>
		 </div>


      </div>
  	</div>
    


  </div>
</body>
</html>

