@import "bootstrap";

	.h-new-style{
		  font-family: 'Merienda', cursive;
		  font-size: 40px ;
		  }

	  .t-label-style{
	  font-family: 'Dancing Script', cursive ;
	  font-size: 25px;
	  }
	  .t-area-style
	  {
	      width: 36%;

	  }
	  .sbt-new-style{
	  font-family: 'Dancing Script', cursive;
	  font-size: 25px;
	  color: grey;

	  }
	  .login-content{
	    padding-left: 40%;
	  }
	  .devise-link{
	    height: 20px;
    	width: 12%;

	  }

	  .devise-link-f{
	    height: 20px;

	  }
	  .devise-link-l{
	    height: 20px;
	    width: 7%;

	  }
	  .r-label-style{
	  font-family: 'Dancing Script', cursive ;
	  font-size: 20px;
	  }
















	  #login-body{

	  background: url("https://images.unsplash.com/photo-1519206514004-f7651d7ae271?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=51bbac03c6265f3f3683b5bb8de9fb6a&auto=format&fit=crop&w=986&q=80");
	  background-size: cover;
	  background-position: center;
	  height: 100%;
	  }