@import "bootstrap";




	@media (min-width: 340px) and (max-width: 1000px)and (orientation: portrait) {
		
		
			.login-size{
					padding-top: 20%;

					.container{
						width: 78% !important;
						
						.field .t-area-style {
   							 width: 63%;
   							 }
   							 .login-content{
   							 padding-left: 33%;
   							 }
					}
			}
			
		
	}

	.login-size{
		.container{
		width: 50%;
		}
	}

	.h-new-style{
		  font-family: 'Merienda', cursive;
		  font-size: 40px ;
		  }

	  .t-label-style{
	  font-family: 'Dancing Script', cursive ;
	  font-size: 25px;
	  }
	  .field{
	  .t-area-style
	  {
	      width: 46%;

	  }
	  }
	  .sbt-new-style{
	  font-family: 'Dancing Script', cursive;
	  font-size: 25px;
	  color: grey;

	  }
	  .login-content{
	    padding-left: 38%;

	    opacity: 0.85;
		padding-bottom: 46px;
	    margin-top: 20px;
	    border-radius: 10px;
	    background: white;
	   .badge-dark{
	   margin-top: 8px;
	   margin-bottom: 6px;
	   }

	  }
	  .devise-link{
	    height: 20px;
    	width: 12%;

	  }

	  .devise-link-f{
	    height: 20px;

	  }
	  .devise-link-l{
	    height: 20px;
	    width: 7%;

	  }
	  .r-label-style{
	  font-family: 'Dancing Script', cursive ;
	  font-size: 20px;
	  }
	  .login-content{
		.badge-info {
	    width: 35%;
	    }
	    }

















	  #login-body{

	  background: url("https://hdwallsource.com/img/2014/9/blur-26347-27038-hd-wallpapers.jpg");
	  background-size: cover;
	  background-position: center;
	  height: 100%;
	  }