  @import "bootstrap";

  
  		header{
  			height:100%;
  			background: url("https://images.unsplash.com/photo-1534543422-0169c08bf67c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=52f67c480f3f78dbd94e186857a60b1a&auto=format&fit=crop&w=700&q=80");
  			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			padding-top: 1px;
  		}





  	@media (min-width: 340px) and (max-width: 750px)and (orientation: portrait) {

  		.small-index-style{
  		.container{
  			max-width: 700px;
  			.image-style{
  			width: 290px;
  			}
  			.image-style-show{
  			width: 290px;
  			}
  		}

  		}
		
		


		.grid-padding-style{

	  	
	  	}
			
		
	}


	  .content{

	  color: white;
	  text-align: center;
	  padding-top: 10%;
	  font-family: 'Gloria Hallelujah', cursive;
	  text-shadow: 4px 4px 26px rgba(146, 150, 150, 0.77);
	  }
	  .post-link-style{

	  color: grey;
	  }
	   .post-link-style:hover{

	  color: grey;
	  }

	  .h-post-style{
	  font-family: 'Merienda', cursive;
	  }

	  .post-content{
	  	color: black;
	  	
	  }
	  #notice{
	  	color: white;
	    text-align: center;
    	font-family: 'Gloria Hallelujah', cursive;
    	text-shadow: 4px 4px 26px rgba(146, 150, 150, 0.77);
	  }
	  .welcome-style{
	  font-weight: 700;
	  font-size: 3em;
	  }

	  .image-style{

		width: 330px;
	    height: 250px;
	    border-radius: 19px;
	   }

	  .disp-style{
	    display: flex;
    	flex-direction: column;
	  }
	  .show-link{

	  	text-align: center;
	  	padding-bottom: 10px;
	  }
	  .paragh-style-1{
	  	text-align: center;
	    padding-top: 10px;
	    font-family: 'Kaushan Script', cursive;
	  }
	  .paragh-style-2{
	  	text-align: center;
	    padding-top: 2px;
	    font-family: 'Kalam', cursive;
	  }
	  .post-heading-style{
	  padding-left: 41%;
	  }
	  .edit-link:hover{
	  color: grey;
	  }
	  .edit-link{
	  color: grey;
	  }
	  .t-area-style
	  {
	      width: 36%;

	  }
	  .c-area-style{
	  	    height: 144px !important;
   			width: 50%;
	  }
	  .i-area-style
	  {
	      width: 36%;
	  }
	  .t-label-style{
	  font-family: 'Dancing Script', cursive ;
	  font-size: 25px;
	  }
	  .c-label-style{
	  font-family: 'Dancing Script', cursive;
	  font-size: 25px;
	  }
	  .i-label-style{
	  font-family: 'Dancing Script', cursive;
	  font-size: 25px;
	  }
	  .h-new-style{
	  font-family: 'Merienda', cursive;
	  font-size: 40px 
	  }
	  .p-new-style{
	  font-family: 'Dancing Script', cursive;
	  font-size: 25px;
	  }

	  .sbt-new-style{
	  font-family: 'Dancing Script', cursive;
	  font-size: 25px;
	  color: grey;

	  }
	  .show-title-style{
	  font-family: 'Dancing Script', cursive;
	  font-size: 40px;
	  text-align: center;
	  }
	  .show-content-style{
	  font-family: 'Dancing Script', cursive;
	  font-size: 20px;
	  text-align: center;
	  }
	  .comment-content{
	  text-align: center;
	  width: 41%;

	  }
	  .t-show-area-style
	  {
	      width: 36%;
	      margin-left: 32%

	  }
	  .comment-paragh-style{

	  font-family: 'Merienda', cursive;
	  font-size: 30px;
	  text-align: center;

	  }
	  .comment-show-style{
	  width: 40%;
	  
      flex-direction: column;
	  font-family: 'Dancing Script', cursive;
	  font-size: 20px;
	  text-align: center;
	  border-left: groove lightsteelblue;
   	  border-right: groove lightsteelblue;
   	  margin-left: 30%;
      margin-top: 25px;
    

	  }
	  .comment-paragh-style-1{

	  padding-top: 20px;
	  font-family: 'Merienda', cursive;
	  font-size: 20px;
	  text-align: center;

	  }
	  .grid-padding-style{
	  padding-top: 25px;
	  }
	  .card-image-style{
	  width: 41%;
	  }
	  .card{
	  background-color: lavender;
	  }
	  .card-img-cmt{
	  display: flex;
   	  justify-content: space-around;
   	  padding-top: 18px;
	  }
	  .img-show-cont{
	  padding-top: 55px;
	  }
	  .grid-show-image{
	  padding-top: 25px;
	  }
	  .image-style-show{

	  	margin-top: 20px;
		width: 330px;
	    height: 250px;
	    border-radius: 19px;

	   }
	   .alert-primary{
	   width: 28%;
	   font-family: 'Dancing Script', cursive;
	   font-size: 20px;
	   }
	   .alt-comment{
	       padding-left: 43%;	
	   }



	   













	  

	  
	  #show-body{

	  background: url("https://images.unsplash.com/photo-1523872135651-514afbd57180?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2c58d885254aa2991a2f14d3c06a5d40&auto=format&fit=crop&w=946&q=80");
	  background-size: cover;
	  background-position: center;
	  height: 100%;

	  }



	  #new-body{
	  background: url("https://images.unsplash.com/photo-1523958940417-b5818e64cf16?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=890168d2efdcae79035eba9e5e63a045&auto=format&fit=crop&w=1018&q=80");
	  background-size: cover;
	  background-position: center;
	  height: 100%;

	  }

	  main{
	  height: 100%;
	  background: url("https://images.unsplash.com/photo-1509624776920-0fac24a9dfda?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=42ec196ddd2f51e9dbb7bfe0adcbaa3b&auto=format&fit=crop&w=1050&q=80");
	  background-size: cover;
	  background-position: center;
	  
	  }
	 


